.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.body-top {
  display: flex;
  color: white;
  padding: 32px;
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  padding-top: 80px;
  width: 100%;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
    var(--background-noise);
  background-color: rgb(170, 49, 132);
}
.body-top__left {
  height: 234px;
  width: 234px;
  margin-right: 24px;
}
.body-top__left img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}
.body-top__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-top__right h2 {
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.body-top__right h1 {
  margin: 0.08em 0px 0.12em;
  visibility: visible;
  width: 100%;
  font-size: 6rem;
}
.body-top__right p {
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: 400;
}
.body-bottom {
  /* background: var(--background-base); */
}
.body-bottom__icons {
  width: 100%;
  padding: 24px 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: relative;
}
.body-bottom__header {
  height: 232px;
  z-index: -1;
  width: 100%;

  position: absolute;
  top: 0;
  background-color: rgb(208, 56, 160);
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 0,
      var(--background-base) 100%
    ),
    var(--background-noise);
}
.body__shuffle {
  font-size: 64px !important;
  margin-left: 40px;
  /* padding-left: 16px; */
  margin-right: 32px;
}
.body__songs {
}
