.sidebar {
  background-color: #000000;
  width: 35%;
  max-width: 240px;
  min-height: 100vh;
  color: white;
  padding: 0 24px;
}
.logo {
  padding: 24px 0;
}
.logo > svg {
  height: 40px;
  max-width: 131px;
}

.section-breack {
  border: 1px solid black;
}
.playLists-lable {
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #4d4d4d;
}
.playlists li a:first-child {
  padding-top: 36px;
}
